.main {
  .product_header {
    .search {
      margin-left: 2.5em;
    }

    .filter_header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 2em 0 0 1em;

      .sort {
        margin-right: 2.5em;
        display: flex;
        justify-content: right;
      }

      .categories {
        margin-left: 2.5em;
      }
    }
  }
}
