.slider_content {
  .slider {
    display: block;
    overflow: hidden;
    position: relative;

    & .slide-list {
      display: flex;
      height: 100%;
      transition: transform 0.5s ease-in-out;
      width: 100%;

      & .slide {
        flex: 1 0 100%;
        position: relative;

        & .slide-image {
          display: flex;
          margin: 0 auto;
          max-height: 400px;
          max-width: 700px;
          width: 500px;
          height: 500px;
          object-fit: contain;
        }

        & .slide-title {
          text-align: center;
          margin-top: 10px;
        }
      }
    }

    /* DOTS */

    & .dots {
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 2;
      margin: 10px 0px 10px 0px;

      & .dot {
        background-color: #e7e7e7;
        border-radius: 5px;
        height: 10px;
        margin: 5px;
        width: 10px;

        &:hover {
          cursor: pointer;
        }

        &.selected {
          background-color: rgb(150, 150, 150);
        }
      }
    }

    /* ARROWS */

    & .arrows {
      color: black;
      display: flex;
      font-size: 30px;
      justify-content: space-around;
      // height: 100%;
      position: absolute;
      top: 40%;
      width: 100%;
      z-index: 1;

      & .arrow {
        height: 50px;
        width: 50px;

        &:hover {
          cursor: pointer;
          border-radius: 50%;
          background-color: rgb(200, 200, 200);
        }

        &.left {
          background-image: url(../../assets/img/arrow.svg);
          background-repeat: no-repeat;
          background-size: contain;
          // margin-left: 5px;
          transform: rotate(180deg);
        }

        &.right {
          background-image: url(../../assets/img/arrow.svg);
          background-repeat: no-repeat;
          background-size: contain;
          // margin-right: 5px;
        }
      }
    }
  }
}
