.slider_content {
  margin-left: 50px;
  // border: 1px solid black;

  .slider {
    display: block;
    overflow: hidden;
    position: relative;

    & .slide-list {
      display: flex;
      transition: transform 0.5s ease-in-out;
      width: 100%;

      & .slide {
        flex: 1 0 100%;
        position: relative;

        & .slide-image {
          display: flex;
          margin: 0 auto;
          max-height: 500px;
          max-width: 800px;
          min-height: 20vh;
          min-width: 20vw;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        // & .slide-title {
        //   text-align: center;
        //   margin-top: 10px;
        // }
      }
    }

    /* DOTS */

    & .dots {
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 2;
      margin: 10px 0px 10px 0px;

      & .dot {
        background-color: #e7e7e7;
        border-radius: 5px;
        height: 10px;
        margin: 5px;
        width: 10px;

        &:hover {
          cursor: pointer;
        }

        &.selected {
          background-color: rgb(150, 150, 150);
        }
      }
    }

    /* ARROWS */

    & .arrows {
      color: pink;
      display: flex;
      font-size: 30px;
      justify-content: space-between;
      // height: 100%;
      position: absolute;
      top: 40%;
      width: 100%;
      z-index: 1;

      & .arrow {
        // background-color: #e7e7e7;
        height: 45px;
        width: 45px;

        &:hover {
          cursor: pointer;
          border-radius: 25%;
          background-color: rgb(255, 255, 255);
          opacity: 0.25;
        }

        &:active {
          cursor: pointer;
          border-radius: 25%;
          background-color: rgb(255, 255, 255);
          opacity: 0.5;
        }

        &.left {
          background-image: url(../../assets/img/arrow.svg);
          background-repeat: no-repeat;
          background-size: contain;
          // margin-left: 5px;
          transform: rotate(180deg);
        }

        &.right {
          background-image: url(../../assets/img/arrow.svg);
          background-repeat: no-repeat;
          background-size: contain;
          // margin-right: 5px;
          // transform: rotate(180deg);
        }
      }
    }
  }
}
