.main_content {
  display: flex;
  margin: 0;
  padding: 0;
}

.slider_block {
  display: block;

  // border: 1px solid rgb(150, 150, 150);
}

.characteristics_block {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: 100px;
  margin-right: 100px;

  .characteristics {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    margin-top: 0;

    .characteristic {
      display: flex;
      flex-direction: row;
      margin-top: 4px;
      margin-bottom: 4px;

      .characteristic_key {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        flex-wrap: nowrap;
        margin-right: 8px;
        font-weight: 400;
        font-style: normal;

        &:after {
          display: block;
          flex: 1 1 0px;
          margin: 0 8px;
          border-bottom: 1px dashed #e1e2e5;
          content: '';
        }
      }

      .characteristic_value {
        display: flex;
        flex-direction: row;
        margin-inline-start: unset;
        align-items: baseline;
        flex-wrap: nowrap;
        margin: 0;
        font-weight: 400;
        font-style: normal;
      }
    }
  }
}
